{% extends 'main/base.html' %}

{% block title %}
About-Us
{% endblock %}

{% block content %}
The Weather App, as its name suggests, is a platform for all climate-related information. It provides you with live weather, local weather news, and a lot more options.


Furthermore, you can search for the outside conditions in different locations by searching for the location or the postal code. You can also get weather updates on an hour, 5-day, 10-day, weekend, or monthly basis as well.
The website has a current weather report for your area, which can be extended for a full report. The site uses real-time weather radar as well for its maps and radar section. If you wish to look for the forecast for other places, you just have to search for the place from the search bar.
{% endblock %}