{% extends 'main/base.html' %}

{% block title %}
Information about weather
{% endblock %}

{% block content %}
<h2>Add information about the weather</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.city }}<br>
    {{ form.temperature }}<br>
    <h6>Choose your region:</h6>
    {{ form.location }}<br><br>
    <h6>Choose rainfall:</h6>
    {{ form.rainfall }}<br><br>
    <h6>Choose strength rainfall:</h6>
    {{ form.strength }}<br>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}