{% extends 'main/base.html' %}

{% block title %}
Information about weather
{% endblock %}

{% block content %}
<h2>Add information about the weather</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.city }}<br>
    {{ form.temperature }}<br>
    {{ form.location }}<br>
    <br><button type="submit" class="btn btn-success">Submit</button>
    <span>{{ error }}</span>
</form>
{% if tasks %}
    {% for el in tasks %}
<div class="alert alert-warning mt-2">
    <h3>{{el.city}}</h3>
    <p>{{el.temperature}}</p>
    <p>{{el.location}}</p>
</div>
    {% endfor %}
{% else %}
<p>There is no information about the weather</p>
{% endif %}
{% endblock %}